.read-more-wrap { /*Indice de contenido*/
    margin: 0 auto;
    width: 85%;
    overflow: auto;
    margin-bottom: 300px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
 }

h2 {
    margin-top: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: #c0c0c0;
    text-align: center;
    font-weight: 400;
 }

 h3 {
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.55rem;
    color: black;
    text-align: center;
    line-height: 2.6rem;
}

h4 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: black;
    line-height: 2rem;
}

p {
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
    text-align: justify;
    line-height: 2.6rem;
}

.read-more-wrap .unidad {
    margin-top: 10px;
    padding:10px;
    min-height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #dbdbdb;
}

.read-more-wrap .subunidad{
    font-family:'Open Sans', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(245,245,245);
    border-top: 2px solid whitesmoke;
}
