html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

}

/*HASTA AQUI LA BARRA DE NAVEGACION*/
header{
    position:absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: whitesmoke;
}

p{
    padding: 0;
}

.portada {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.65) 0%), url("../img/portada_puentes.jpg");
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    

 #boton-portada{
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    border: 1px solid whitesmoke;
    border-radius: 32px;
    padding: 7px;
    margin-top: 8px;
    width: 180px;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #dbdbdb;
}

.docente-container { /*div Docente*/
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F0;
    padding: 20px;
}

.icon-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width:160px;
    height:40px;
}

.icon-container a{
    width: 30px;
    height: 30px;
}

.foto-docente {
    margin: 10px 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url("../img/docente.jpg");
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
}

#pompeyus-estructuras {
    color: blue;
}

#pompeyus-estructuras:hover{
    text-decoration: underline;
}

#pompeyus-estructuras:visited{
    color: #883EAD;
}

/*CONTENIDO DEL CURSO*/

.contenido-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.descripcion-curso{
    text-align: justify;
    margin: 20px auto;
    font-family:'Open Sans', sans-serif;
    width: 50%;
    
}

.descripcion-curso ul{
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 30px;
    list-style: square;
}

.descripcion-curso ul li{
    line-height: 2.7rem;
    margin-top: .9rem;
    font-size: 1.65rem;
}

.read-more-wrap { /*Indice de contenido*/
    margin: 0 auto;
    width: 50%;
    overflow: auto;
    margin-bottom: 300px;
}

