
/*ICONO HAMBURGUESA CON TRANSFORMACION EN X*/

.bar{ /*Estilo de las tres rayitas*/
    height: 3px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{ /*Las tres rayitas se vuelven una sola*/
    transform: translateY(-4px);
}

#bar3 { /*Las tres rayitas se vuelven una sola*/
    transform: translateY(4px);
}

.change .bar{ /*Click para cambiar el fondo de las rayitas*/
    background-color: black;
}

.change #bar1 { /*Click para mover y rotar la rayita superior*/
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 { /*Click para mover y rotar la rayita inferior*/
    transform: translateY(-4px) rotate(45deg);
}

.change #bar2 { /*Click para esconder la rayita del medio*/
    opacity: 0;
}

#menu { /*Container tres rayitas de la hamburguesa*/
    position: absolute;
    left: 20px;
    top: 0;
    width: 32px;
    height: 12px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/*BARRA DE NAVEGACION*/

.nav{ /*Estilo del ul nav*/
    transition: 0.15s ease;
    display: none;/*El nav no debe verse al principio*/
}

.change { /*Muestra el nav al hacer click*/
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: white;

}

.menu-bg { /*Animacion Fondo de la Barra de Navegacion*/
    width: 0;
    background: white;
    transition: width .15s ease;
    z-index: 1; /*Debajo de los links de navegacion*/
}

.menu-bar{
    width:100vw;
    z-index: 2;/*Encima de la animacion de fondo*/
    background-color: white;
    
}

.change-bg { /*Fondo de la Barra de Navegacion*/
    width: 100vw;
    height: 110vh;
}

.menu-bg, #menu-bar{ /*Desconectarlos para que no se sobrepongan*/
    position: absolute;
    top: 0;
    left: 0;
}

/**MENU DE NAVEGACION PARA TODAS LAS TABLETS*/

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
 }

h2 {
    margin-top: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    color: #c0c0c0;
    text-align: center;
    font-weight: 400;
 }

.contenido-general{
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0;
    overflow: auto;
}

.contenido-subunidad { /**ABAJO DEL ENUNCIADO*/
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
}

.menu-subunidad {
    width:75%;
    position: absolute;
    top: 0;
    right:0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 75px;

}

.read-more-wrap { /*Indice de contenido*/
    margin: 0 auto;
    width: 70%;
    overflow: auto;
    margin-bottom: 300px;
}