html {
    font-size: 62.5%;
}


body{
    background-color: whitesmoke;
    overflow-x: hidden;
}


h2 {
    color: black;
    position: relative;
    top: 30px;
    font-size: 2rem;
    font-weight: 700;
 }
/*CONTENIDO DEL CURSO*/

.video1 {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#subunidad-actual{
    background-color: #4c4c4c;
    color: white;
 }

